@import "nullstyle.scss";

.wrapper {
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}
.header {
   min-height: 100px;
   background:#f2f2f2;
		// .header__inner
		&__inner {
         height: 100px;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
		// .header__logo
		&__logo {
         background: rgb(70, 117, 179);
         width: 130px;
         height: 50px;
         border-radius: 7px
      }
		// .header__icons
		&__icons {
         display: flex;
      }
		// .header__search
		&__search {
         margin-right: 40px;
         & span {
            width: 20px;
            height: 20px;
            border: 2px solid #000;
            // background: #fff;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            &::after {
               content: '';
               position: absolute;
               width: 2px;
               height: 11px;
               background: #000;
               bottom: -9px;
               right: -2px;
               transform: rotate(135deg);
            }
         }
      }
		// .header__burger
		&__burger {
         width: 30px;
         height: 20px;
         z-index: 4;
         position: relative;
         & span {
            position: absolute;
            background-color: #000;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all .3s ease 0s;
         }
            &:before, &:after {
               content: '';
               background-color: #000;
               position: absolute;
               width: 100%;
               height: 2px;
               left: 0;
               transition: all .3s ease 0s;
            }
            &:before {
               top: 0;
            }
            &:after {
               bottom: 0;
            }
            &.active span {
               transform: scale(0);
            }
            &.active:before {
               transform: rotate(45deg);
               top: 9px;
            }
            &.active:after {
               transform: rotate(-45deg);
               bottom: 9px;
            }
      }
}

.main {
   min-height: 400px;
   background: rgb(101, 58, 58);
   position: relative;
		// .main__intro
		&__intro {
         display: flex;
         column-gap: 20px;
         position: absolute;
         bottom: -75px;
         left: 33.3333%;

      }
		// .main__item
		&__item {
         width: 150px;
         height: 150px;
         border-radius: 10px;
         background: rgb(162, 0, 0);
      }
}
.footer {
   min-height: 200px;
   background:#f2f2f2;
		// .footer__inner
		&__inner {}
}
.cards {
   margin-top: 100px;
   padding-bottom: 100px;

   // .cards__inner
   &__inner {
      display: flex;
      column-gap: 30px;
   }
   // .cards__item
   &__item {
      flex: 0 1 33.33333%;
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 1px solid rgb(52, 52, 52);
      padding: 90px 40px 40px 40px;
      position: relative;
   }
   &__circle {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border: 1px solid rgb(52, 52, 52);
      border-radius: 50%;
      background: #fff;
      top: -50px;
      left: 33.3333%;
   }
   // .cards__title
   &__title {
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 30px;

   }
   // .cards__text
   &__text {
      font-size: 20px;
      margin-bottom: 50px;
      flex: 1 1 auto;
      line-height: 120%;
      color: rgb(89, 89, 89);
   }
   // .cards__btn
   &__btn {
      & a {
         border: 1px solid #000;
         font-size: 20px;
         padding: 15px 25px;
         color: #000;
         transition: .3s;
         &:hover {
            background: rgb(78, 78, 78);
            color: #f2f2f2;
         }
      }
   }
}
